:root {
    /* --primary-color: hsl(239, 15%, 38%);
    --dark-color: hsl(236, 31%, 17%); */

    --primary-color: hsl(237.78,62.79%,8.43%);
    --secondary-color: hsl(233.08,36.11%,14.12%);
    --accents: hsl(235.71,24.14%,22.75%);

    --text-primary: hsl(240,10%,76.47%);
    --text-accents: hsl(240,10%,88.24%);
}
