.customTimer {
    width: inherit;

    input {
        width: 70%;
        font-size: 80%;
    }

    input:focus {
        transform: scale(1.15);
    }

    input:hover {
        transform: scale(1.15);
    }
}